<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 数据库类型:MySql/SqlServer -->
    <add key="DBProvider" value="System.Data.SqlClient" />
    <!-- 服务名 -->
    <add key="ServiceName" value="AWen.TaskService" />
    <!-- 服务显示名 -->
    <add key="ServiceDisplayName" value="AWen.TaskService" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AWenDB;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>