<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 数据库类型:MySql/SqlServer -->
    <add key="DBProvider" value="System.Data.SqlClient" />
    <!-- 服务名 -->
    <add key="ServiceName" value="AWen.TaskService" />
    <!-- 服务显示名 -->
    <add key="ServiceDisplayName" value="AWen 定时任务服务" />
    <!-- 服务描述 -->
    <add key="ServiceDescription" value="AWen 定时任务服务,负责调度定时任务,需要开启该服务才能完成任务的执行操作" />

    <add key="MajorTaskName" value="AWen.MajorTask"/>
    <add key="MajorTaskDescription" value="这个是关键主任务,它负责调度其它任务(必须开启)"/>
    <add key="MajorTaskCronExpression" value="0/3 * * * * ?"/>
    <add key="MajorTaskCronExpressionDescription" value="每3秒中执行一次"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AWenDB;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>