<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBProvider" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AWenDB;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>