@{
    ViewBag.Title = "任务日志";
}

<div class="layui-row">
    <div class="layui-col-md12">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>任务日志</legend>
        </fieldset>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md8">
        <div class="layui-inline">
            <label class="layui-form-label">任务名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="search" placeholder="请输入任务名称" class="layui-input">
            </div>
            <button class="layui-btn layui-btn-normal" id="btnSearch">查询</button>
        </div>
    </div>
    <div class="layui-col-md4">
        @*<button class="layui-btn layui-btn-sm" id="add">任务创建</button>*@
        <button class="layui-btn layui-btn-sm layui-btn-danger" id="deletemore">删除</button>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md12">
        <table id="demo" lay-filter="test"></table>
    </div>
</div>
@section JS{
    <script>
        layui.use('table', function () {
            var table = layui.table;

            //第一个实例
            table.render({
                id: "demoTable"
                 , elem: '#demo'
                 , skin: 'line' //行边框风格
                 , even: true //开启隔行背景
                 , size: 'sm' //小尺寸的表格
                , height: 650
                , limit: 15
                , limits: [10, 15, 20, 30, 50, 100]
                , url: '/TaskLog/List/' //数据接口
                , where: { search: $("#search").val() } //如果无需传递额外参数，可不加该参数
                , page: true //开启分页
                , cols: [[ //表头
                         { field: 'TaskLogId', title: 'ID', type: "checkbox", width: 50, fixed: 'left' }
                         //, { fixed: 'left', width: 150, align: "center", title: '操作', toolbar: '#barDemo' }
                           , { field: 'TaskName', title: '名称', sort: true, fixed: 'left' }
                         , { field: 'ExecutionTime', title: '执行时间' }
                         , { field: 'ExecutionDuration', title: '执行持续时长' }
                         , { field: 'RunLog', title: '运行日志' }
                         , { field: 'CreatedDateTime', title: '创建时间' }
                ]]
            });
            $("#deletemore").bind("click", function () {
                var checkStatus = table.checkStatus('demoTable'); //test即为基础参数id对应的值

                if (checkStatus.data.length > 0) {
                    var idArray = new Array();
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        idArray.push(checkStatus.data[i].TaskLogId)
                        //if(checkStatus.data[i].State>0)
                        //{
                        //    layer.msg(checkStatus.data[i].TaskName+"启动中的任务不能删除");
                        //    return;
                        //}
                    }
                    $.ajax({
                        url: "@Url.Action("Delete", "TaskLog")",
                        data: { 'idList': idArray.join() },
                        type: "Post",
                        dataType: "json",
                        success: function (data) {
                            layer.msg(data.message);
                            if (data.success) {
                                table.reload("demoTable");
                            }

                        },
                        error: function (data) {
                            layer.msg('错误:' + data.message);
                        }
                    });
                }
                else {
                    layer.msg("请选择行");
                }

            });
            $("#btnSearch").bind("click", function () {
                alert(111)
                table.reload("demoTable");
            });
        });
       
    </script>
}