@{
    ViewBag.Title = "Home Page";
}
@*<h2>时间线</h2>*@
<ul class="layui-timeline">

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">未来</h3>
            <p>进一步完善很多功能：</p>
            <ul>
                <li>权限管理</li>
                <li>菜单管理</li>
                <li>任务管理</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">现在</h3>
            <p>
                目前进行中的是任务管理,设计技术
            </p>
            <ul>
                <li>Quartz</li>
                <li>Topshelf</li>
                <li>Dapper</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <div class="layui-timeline-title">过去</div>

            <p>
               什么都没有。。。。。
            </p>
        </div>
    </li>
</ul>